.containerWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 6px 24px 12px;
}

@media (min-width: 768px) {
  .containerWrapper {
    padding: 12px 32px 24px;
  }
}
